@font-face {
    font-family: 'Gelion-Regular';
    src: url('Gelion.eot?') format('eot'), url('fonts/Gelion-Regular.otf') format('opentype'), url('fonts/Gelion-Regular.otf.ttf') format('truetype');
  }
@font-face {
    font-family: 'Gelion-Black';
    src: url('Gelion.eot?') format('eot'), url('fonts/Gelion-Black.otf') format('opentype'), url('fonts/Gelion-Black.ttf') format('truetype');
  }  
header {
    background: #333;
    color: #fff;
    padding: 0;
    text-align: left;
    font-family: 'Gelion-Black', sans-serif;
}
header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-align: left;
    position: relative;
}
.logo {
    width: 200px;
    height: auto;
    margin: 1rem auto;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Gelion-Regular", sans-serif;
}

main {
    padding: 2rem;
    text-align: left;
    margin-bottom: 80px;
}
main img {
    max-width: 100%;
    height: auto;
    position: flex;
    float: right;
}
a {
    color: #333;
    text-emphasis: underline;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 1s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.image {
    max-width: 100%;
    height: auto;
    margin-left: 20px; /* Space between text and image */
    flex: 1; /* Allow the image to grow and fill space */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .image {
        margin-left: 0; /* Remove left margin on mobile */
        margin-top: 10px; /* Add some space above the image */
    }
}

.text {
    flex: 1;
    max-width: 600px; /* Limit the width of the text */
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
}

.launch-btn {
    display: block;
    margin: 1rem auto; /* Centers the launch-btn horizontally */
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Gelion-Black', sans-serif;
    text-align: center;
}
launch-btn:hover {
    background: #fff;
}
.footprint p {
    margin : 0 auto;;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}