  header {
    background: #fff;
    color: #333;
    padding: 0;
    text-align: left;
}
header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-align: left;
}
header img {
    width: 200px;
    height: auto;
    margin: 1rem auto;
    display: block;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}  
main {
    padding: 2rem;
    text-align: left;
    margin-bottom: 80px;
}
main img {
    max-width: 100%;
    height: auto;
}
main a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.button {
    display: block;
    margin: 1rem auto; /* Centers the button horizontally */
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }
button:hover {
    background: #333;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}